.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      cursor: pointer;
    }
  }
}

.today {
  background-color: yellow;
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  &:first-child {
    color: red;
  }
  &:last-child {
    color: royalblue;
  }
  &.is-disabled {
    color: #ccc;
    cursor: default;
  }
}

th {
  &:first-child {
    color: red;
  }
  &:last-child {
    color: royalblue;
  }
}
