* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 32px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

input {
  cursor: pointer;
}
